{% extends "../base.html" %}
{% load static %}

{% block content %}


<!-- {{request.user.is_staff}} 
{{request.user.is_active}} -->

    {% if user.is_authenticated and request.user.is_staff == True %}
      <div class="card card-span rounded-1">
        <div class="card card-span rounded-1"><img src="../../static/home/images/GettyImages-1271072224.jpeg"
            class="img-fluid" alt="..."></div>
      </div>

   {% elif user.is_authenticated and request.user.is_staff == False %}
      <div class="card card-span rounded-1">
        <div class="card card-span rounded-1"><img src="../../static/home/images/GettyImages-1271072224.jpeg"
            class="img-fluid" alt="..."></div>
      </div>
      <button type="button" class="btn btn-success btn-lg mt-4 mx-5" >
        งานล่าสุด
      </button>
      
      &nbsp;

      
      <div class="container">

        <div class="row row-cols-1 row-cols-md-2 g-5 mt-3">

          {% for job in jobs %}
          <div class="col">
            <div class="card mb-3" id="card-bg" style="height: 20rem;">
              <div class="row g-0 d-flex justify-content-between">
                <div class="col-md-4 mt-3 mx-3">
                  <img src="{% static job.logo.url %}" class="img-fluid rounded-start mb-3" width="200" alt="...">
                </div>
                
                <div class="col-md-6 d-grid">
                  <div class="card-body">
                    <h5 class="card-title fw-bold">{{ job.position }}</h5><br>
                    
                    <p class="card-text">{{ job.description }}</p>
                    <div class="mt-5 mb-2 d-flex justify-content-md-end">
                    <a href="/{{ job.id }}"> <button class="btn text-light" style="background-color:teal ;">View</button> </a>
                    </div>
                  </div>
                
                </div>

              </div>
            </div>
          </div>
          {% endfor %} 
        </div>
       
      </div><hr>

        <button type="button" class="btn btn-primary btn-lg mt-4 mx-5">
          งานทั้งหมด
        </button>
        
        &nbsp;
  
        
        <div class="container">
  
          <div class="row row-cols-1 row-cols-md-2 g-5 mt-1">
  
            {% for job in jobs %}
            <div class="col">
              <div class="card mb-3" id="card-bg" style="height: 20rem;">
                <div class="row g-0 d-flex justify-content-between">
                  <div class="col-md-4 mt-3 mx-3">
                    
                    <img src="{% static job.logo.url %}" class="img-fluid rounded-start mb-3" width="200" alt="...">
                  </div>
                  
                  <div class="col-md-6 d-grid">
                    <div class="card-body">
                      <h5 class="card-title fw-bold">{{ job.position }}</h5><br>
                      
                      <p class="card-text">{{job.description}}</p>
                      <div class="mt-3 mb-2 d-flex justify-content-md-end">
                      <a href="/{{ job.id }}"> <button class="btn text-light" style="background-color:teal ;">View</button> </a>
                      </div>
                    </div>
                  
                  </div>
  
                </div>
              </div>
            </div>
            {% endfor %} 
          </div>
          <div class="mx-3 mb-3 d-flex justify-content-md-center">
            <a  href="/FindJob" class="btn btn-primary btn-lg mt-4 mb-3 mx-5">
              เพิ่มเติม
            </a>
            
          </div>
          
          
        </div>  
    {% elif not request.user.is_authenticated %}
      <div class="card card-span rounded-1">
        <div class="card card-span rounded-1"><img src="../../static/home/images/GettyImages-1271072224.jpeg"
            class="img-fluid" alt="...">
        </div>
      </div>
      <button type="button" class="btn btn-success btn-lg mt-4 mx-5" >
        งานล่าสุด
      </button>
      
      
      &nbsp;

      
      <div class="container">
      
        <div class="row row-cols-1 row-cols-md-2 g-5 mt-1">

          {% for job in jobs %}
          <div class="col">
            <div class="card card-job mb-3" id="card-bg" style="height: 20rem;">
              <div class="row g-0 d-flex justify-content-between">
                <div class="col-md-4 mt-3 mx-3">
                  <img src="{% static job.logo.url %}" class="img-fluid rounded-start mb-3" width="200" alt="...">
                </div>
                
                <div class="col-md-6 d-grid">
                  <div class="card-body">
                    <h5 class="card-title fw-bold">{{ job.position }}</h5><br>
                    <p class="card-text">{{job.description}}</p> <br>
                    <div class="mt-3 mb-2 d-flex justify-content-md-end">
                      <a href="/view/{{ job.id }}"> <button class="btn text-light" style="background-color:teal ;">View</button> </a>
                    </div>
                  </div>
                  
                </div>

              </div>
            </div>
          </div>
          
          {% endfor %} 
          

        </div>
        <div class="mx-3 mb-3 d-flex justify-content-md-center">
          <a  href="/FindJob" class="btn btn-primary btn-lg mt-4 mb-3 mx-5">
            เพิ่มเติม
          </a>
          
        </div>

        <!-- <nav aria-label="Page navigation example">
          <ul class="pagination d-flex justify-content-center">
              <li class="page-item">
              <a class="page-link" href="?page={{ prvpage }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
              </a>
              </li>
              {% if jobs.number > 1 %}
              <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
              <li class="page-item"><a class="page-link" href="?page={{ prvpage }}">...</a></li>
              {% endif %}
              <li class="page-item active"><a class="page-link" href="#">{{ jobs.number }}</a></li>
             
              <li class="page-item">
              <a class="page-link" href="?page={{ nextpage }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
              </a>
              </li>
          </ul>
        </nav> -->
        
      </div>
    {% endif %}
  
  
  

{% endblock %}