{% extends "../base.html" %}
{% load static %}
{% block title %}{{ job.position }} | EasyJob{% endblock %}

{% block content %} 

    <div class="container mt-4">
         
        <div class="gap-4 mt-4 mb-2 d-flex justify-content-start">
            <a href="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                </svg>
            </a>
        </div>

        <div class="row">
            
            
            <div class="col" >

                <form action="/CreateJob" method="post">
                    {% csrf_token %}
                    <div class="card mb-3 me-4 mt-4 " id="form-add" >
                        <div class="row g-0">
                            <div class="col">
                                <div class="mb-3 me-4 mt-4 mx-3" >
                                    <div class="row g-0 d-flex justify-content-start">
                                        <div class="col d-flex mt-3 mx-4 ">
                                            <img src="{% static 'images/profile-pic.jpeg' %}" class="img-fluid rounded-start mb-3" width="200" height="400" alt="...">
                                       
                                            <div class="mt-2 mx-3">
                                                LOGO <input type="file" class="form-control pt-2 mt-2" id="avatar" name="logo" accept="image/png, image/jpeg">  
                                            </div>
                                       
                                        </div>
                                        
                                    </div>
                                    <div class="row mt-2 mb-3">
                                        <div class="col-md-4 col-sm-6">
                                            <strong class="h6">ประเภทงาน</strong><br>
                                            <input type="text" class="form-control pt-2" name="category" id="" > 
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <strong class="h6">รูปแบบงาน</strong><br>
                                            <input type="text" class="form-control pt-2" name="type" id="" >
                                        </div>
                                        <div class="col-md-2 col-sm-6">
                                            <strong class="h6">GPA</strong><br>
                                            <input type="" class="form-control pt-2" style="width: 40%;" name="gpa" id="" >
                                        </div>
                                    </div><hr class="mx-2" style="width: 99%;">
                                     
                                </div>
                            </div>
                            
                        </div>
                        <div class="col">
                            <div class="row mx-2 mb-3">
                                <div class="col-md-4 col-sm-6">
                                    <strong class="h6">ตำแหน่ง</strong><br>
                                    <input type="text" class="form-control pt-2" name="position" id="" > 
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <strong class="h6">ประสบการณ์</strong><br>
                                    <input type="text" class="form-control pt-2" name="experience" id="">
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <strong class="h6">เงินเดือน</strong><br>
                                    <input type="integer" class="form-control pt-2" style="width: 40%;" name="salary" id="" > 
                                </div>
                                
                            </div><hr class="mx-4" style="width: 96%;">

                            <div class="row mx-2 mb-3">
                                <div class="col-md-3 ">
                                    <strong class="h6">รับจำนวน</strong><br>
                                    <input type="text" class="form-control pt-2" style="width: 30%;" name="quantity" id="" > 
                                </div>
                                <div class="col-md-3 ">
                                    <strong class="h6">เวลาทำงาน</strong><br>
                                    <input type="text" class="form-control pt-2" name="working_time" id="">
                                </div>
                                
                                
                            </div><hr class="mx-4" style="width: 96%;">
                            

                            <div class="col-md-6 mx-4 mb-3">
                                <strong >รายละเอียดงาน</strong><br>
                                <textarea type="" class="form-control pt-2" name="description" id=""></textarea>
                            </div><hr class="mx-4" style="width: 96%;">

                            <div class="col-md-6 mx-4 mb-3">
                                <strong >คุณสมบัติผู้สมัคร</strong><br>
                                <textarea type="" class="form-control pt-2" name="property" id="" ></textarea> 
                            </div><hr class="mx-4" style="width: 96%;">

                            <div class="col-md-6 mx-4 mb-3">
                                <strong >สวัสดิการ</strong><br>
                                <textarea type="" class="form-control pt-2" name="welfare" id="" ></textarea> 
                            </div><hr class="mx-4" style="width: 96%;">
                            
                            
                            <div class="mx-3 mb-3 mt-4 d-flex justify-content-md-start">
                                <button type="button" class="btn btn-danger me-md-2">
                                    <a href="/myjob"><span class="text-light">ยกเลิก</span></a>
                                </button>
                            
                                <button class="btn btn-success" type="submit">ตกลง</button>
                            </div>
                        </div>
                        

                    </div>

                </form>
            </div>
           

        </div>

    </div> 

{% endblock %}